/*margin and padding*/
*{
    margin:0;
    padding:0;
}
.nav-main{
    justify-content: space-between;
    background: rgb(77, 133, 89);
    display: flex;
    border-bottom: 1px solid rgb(185, 29, 29);
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 7px rgba(117, 60, 60, 0.5);

}
/*diplay property*/
.nav-item{
    display: flex;
}

.nav-link a{
text-decoration: none;
padding: 0.2rem 0.4rem;
margin: 0 1.2rem;
font-size: 1.2rem;
text-transform: capitalize;
color: rgba(179, 162, 4, 0.973);
}
/*hover*/
.nav-item a :hover{
    background-color: azure;
    padding: 3px;
    margin: 2px;
    color: blue;
    border-radius: 3px;
    cursor: pointer;
}