/*border for table head and row*/
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 5px;
}
/*padding,marging and color for table*/
td,th{
    width:2rem;
    padding:1rem 1.2rem;
}
th{
    width:2rem;
    padding: 0.7rem;
    background-color: rgb(168, 47, 47);
    color: rgb(14, 13, 13);
}
tr:nth-child(odd){
    background-color: gray;
}
/*hover*/
tr:hover{
    background-color: gray;
}